/* Custom Styles */
body {
    background-color: #f8f9fa;
}

#main-view > header {
    position: relative;
    z-index: 1020;
    background-color: #f8f9fa;
}

#admin-dashboard-view {
    --sidebar-width: 250px; /* Define sidebar width as a variable */
}

#admin-dashboard-view .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 90px 0 0; /* Header height + padding */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    width: var(--sidebar-width);
    transition: margin-left 0.3s ease-in-out;
}

#admin-dashboard-view main {
    margin-left: var(--sidebar-width);
    transition: margin-left 0.3s ease-in-out;
}

/* Collapsed state */
#admin-dashboard-view.sidebar-toggled .sidebar {
    margin-left: calc(-1 * var(--sidebar-width));
}

#admin-dashboard-view.sidebar-toggled main {
    margin-left: 0;
}


@media (max-width: 767.98px) {
    #admin-dashboard-view .sidebar {
        top: 5rem;
        padding-top: 0;
        position: static;
        height: auto;
        width: 100%;
    }
    #admin-dashboard-view main {
        margin-left: 0;
    }
}

#admin-dashboard-view .nav-link {
    font-weight: 500;
    color: #333;
}

#admin-dashboard-view .nav-link:hover {
    color: #0d6efd;
}

#admin-dashboard-view .nav-link.active {
    color: #0d6efd;
    font-weight: bold;
}


